<div>
  <div class="box-wrapper">
    <div class="side-bar">
        <ul class="side-text">
          <li class="alist"><a href="#top">Top</a></li>
          <li class="alist"><a href="#work-introduction">Work Introduction</a></li>
          <li class="alist"><a href="#profile">Profile</a></li>
          <li class="alist"><a href="#skill">Skill</a></li>
          <li class="alist"><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <div class="main">
      <div class="top-introduction" id="top">
         <h2 class="top-title">Portfolio</h2>
       </div>
    <div class="main-content">

      <div class="introduction" id="work-introduction">
        <h2 class="work-title">Work Introduction</h2>
          <ul class="app-list">
            <li class="app-list-one">
              <a href="http://13.112.31.51/"> 
                <p class="apps-text">RentSpace</p>
                <p><%= image_tag("rentspace.jpeg",class:"apps") %></p>
                <p class="explanation">小規模業態向けの空きスペースを貸し借りできるアプリです</p></a>
            </li>
            <li></li>
          </ul>
      </div>

       <div class="introduction" id="profile">
        <h2 class="work-title">Profile</h2>
         <ul class="profile-list">
          <li class="skill-list-one" >名前：</li>
          <li class="skill-list-child">Atsushi Shimazaki</li>
          <li class="skill-list-one" >出身：</li>
          <li class="skill-list-child">山梨県</li>
          <li class="skill-list-one" >現住所：</li>
          <li class="skill-list-child">神奈川県</li>
          <li class="skill-list-one" >活動：</li>
          <li class="skill-list-child">アプリ作成・HP作成</li>
        </ul>
      </div>

       <div class="introduction" id="skill">
        <h2 class="work-title">Skill</h2>
         <ul class="skill-list">
          <li class="skill-list-one" >言語：</li>
          <li class="skill-list-child">HTML　CSS　Ruby　JavaScript</li>
          <li class="skill-list-one" >FW・ライブラリ：</li>
          <li class="skill-list-child">Ruby on Rails　jQuery</li>
          <li class="skill-list-one" >開発環境：</li>
          <li class="skill-list-child">AWS,Nginx</li>
          <li class="skill-list-one" >その他：</li>
          <li class="skill-list-child">Mysql</li>
        </ul>
      </div>

      <div class="introduction" id="contact">
        <h2 class="work-title">Contact</h2>
        <ul class="contact-list">
          <li>ご連絡はこちらまで</li>
          <li class="address">shimazakib13@gmail.com</li>
        </ul>
      </div>

    </div>

  </div>
</div>
